<style>

  table, th, td {
    border: 1px solid;
  }

  table {
    border-collapse: collapse;
  }

</style>

<table>
  <tr>
    <th>id</th>
    <th>timestamp</th>
    <th>era</th>
    <th>username1</th>
    <th>username2</th>
    <th>level</th>
    <th>score</th>
    <th>country</th>
    <th>platform</th>
    <th>mode</th>
  </tr>
  {% for score in scores %}
    <tr>
      <td>{{ score[1] }}</th>
      <td>{{ score[2] }}</th>
      <td>{{ score[3] }}</th>
      <td>{{ score[4] }}</th>
      <td>{{ score[5] }}</th>
      <td>{{ score[6] }}</th>
      <td>{{ score[7] }}</th>
      <td>{{ score[8] }}</th>
      <td>{{ score[9] }}</th>
      <td>{{ score[10] }}</th>
    </tr>
  {% endfor %}

</table>
