<style>

  table, th, td {
    border: 1px solid;
  }

  table {
    border-collapse: collapse;
  }

</style>

<table>
  <tr>
    <th>id</th>
    <th>timestamp</th>
    <th>era</th>
    <th>username1</th>
    <th>username2</th>
    <th>level</th>
    <th>score</th>
    <th>country</th>
    <th>platform</th>
    <th>mode</th>
  </tr>
  {% for score in scores %}
    <tr>
      <td>{{ score.id }}</th>
      <td>{{ score.timestamp }}</th>
      <td>{{ score.era }}</th>
      <td>{{ score.username1 }}</th>
      <td>{{ score.username2 }}</th>
      <td>{{ score.level }}</th>
      <td>{{ score.score }}</th>
      <td>{{ score.country }}</th>
      <td>{{ score.platform }}</th>
      <td>{{ score.mode }}</th>
    </tr>
  {% endfor %}

</table>
