table, th, td {
    border: 1px solid black;
}

table {
    margin: auto;
    position: relative;
    border-collapse: collapse;
}

thead th {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #FF8630;
    padding: 15px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    border: 1.95px solid transparent;
}

tbody tr:nth-child(odd) {
    background-color: #9b9cff;
}

tbody tr:nth-child(even) {
    background-color: rgba(36, 106, 187, 0.685);
}

td {
    padding: 10px;
    font-size: 18px;
}